
@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Awizom Tech Bytes Pvt. Ltd.</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons
    ================================================== -->
    <link rel="icon" href="/awi.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/favicon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/favicon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="img/favicon/favicon-54x54.png">

    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Template styles-->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive styles-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Prettyphoto -->
    <link rel="stylesheet" href="css/prettyPhoto.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="css/flexslider.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="css/cd-hero.css">
    <!-- Style Swicther -->
    <link id="style-switch" href="css/presets/preset3.css" media="screen" rel="stylesheet" type="text/css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    @*<div class="style-switch-wrapper">
        <div class="style-switch-button">
            <i class="fa fa-sliders"></i>
        </div>
        <h3>Style Options</h3>
        <button id="preset1" class="btn btn-sm btn-primary"></button>
        <button id="preset2" class="btn btn-sm btn-primary"></button>
        <button id="preset3" class="btn btn-sm btn-primary"></button>
        <button id="preset4" class="btn btn-sm btn-primary"></button>
        <button id="preset5" class="btn btn-sm btn-primary"></button>
        <button id="preset6" class="btn btn-sm btn-primary"></button>
        <br /><br />
        <a class="btn btn-sm btn-primary close-styler pull-right">Close X</a>
    </div>*@



    <div class="body-inner">
        <!-- Header start -->
        <header id="header" class="navbar-fixed-top header" role="banner">
            <div class="container">
                <div class="row">
                    <!-- Logo start -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand navbar-bg" style="background-color: white; margin-left: 3px; margin-top: -3px; ">
                            <a href="@Url.Action("Index", "Home", new { area = "" })">
                                <img class="img-responsive" src="/FrontDesign/images/awizomlogo.png" alt="logo">
                            </a>
                        </div>
                    </div><!--/ Logo end -->
                    <nav class="collapse navbar-collapse clearfix" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>

                            <li><a href="@Url.Action("About", "Home", new { area = "" })">About Us</a></li>


                            <li><a href="@Url.Action("Services", "Home", new { area = "" })">Services</a></li>


                            <li><a href="@Url.Action("Projects", "Home", new { area = "" })">Projects</a></li>


                            <li class="active"><a href="@Url.Action("Career", "Home", new { area = "" })">Career</a></li>


                            <li><a href="@Url.Action("Contact", "Home", new { area = "" })">Contact</a></li>

                            <li><a href="@Url.Action("Appointment", "Home", new { area = "" })">Make Appointment</a></li>

                            <li><a href="@Url.Action("Events", "Home", new { area = "" })">Events</a></li>
                        </ul>
                    </nav><!--/ Navigation end -->
                </div><!--/ Row end -->
            </div><!--/ Container end -->
        </header><!--/ Header end -->

        <div id="banner-area">
            <img src="/FrontDesign/images/banner/banner2.jpg" alt="" />
            <div class="parallax-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
                <div class="text-center">
                    <h2>Jobs Openings</h2>
                    <ul class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home", new { area = "" })" style="color:white">Home</a></li>
                        <li><a href="#"> Jobs</a></li>
                    </ul>
                </div>
            </div><!-- Subpage title end -->
        </div><!-- Banner area end -->
        <!-- Main container start -->

        <section id="main-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                        <h3 class="title-border">Senior Manager</h3>
                        <p>A great workplace thrives on ideas and opportunity. You’ll find both at Awizom. Follow your ideas, and choose innovative career tracks. Challenge convention.</p>

                        <div class="panel-group" id="accordionA">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionA, #accordionB" href="#collapseOne">Job Requirements</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul class="unstyled arrow">
                                            <li>B.Sc. from any reputed university</li>
                                            <li>MBA in Marketing from any reputed university is very much desired</li>
                                            <li>Two (02) years of experience in Software Company is an advantage.</li>
                                            <li>Experience as Business Analyst will be an added advantage</li>
                                            <li>Manage and execute lead generation activities.</li>
                                            <li>Help building marketing strategy, tool and approach by thorough research</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/ Panel 1 end-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseTwo"> Job Responsibilities</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="unstyled arrow">
                                            <li>Global Business Development &amp; Strategic Account Management</li>
                                            <li>Marketing Research</li>
                                            <li>Marketing Collaterals development</li>
                                            <li>Business Analysis</li>
                                            <li>Manage and execute lead generation activities.</li>
                                            <li>Help building marketing strategy, tool and approach by thorough research</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/ Panel 2 end-->


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseThree"> What’s in it for you?</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="unstyled arrow">
                                            <li>Very Competitive Salary and Long Term Benefits with Excellent Career Opportunity in a Focused &amp; Stable organization.</li>
                                            <li>Training on new technology.</li>
                                            <li>Overseas Tour with Opportunity to work with Global Companies.</li>
                                            <li>Most importantly a friendly work environment with opportunity to learn from a number of highly skilled mentors.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/ Panel 3 end-->

                            <div class="gap-20"></div>

                            <p><a href="#" class="btn btn-primary solid">Apply Now <i class="fa fa-long-arrow-right"></i></a></p>

                        </div><!--/ Accordion end -->
                        <!--/ 1st career end -->

                        <div class="gap-40"></div>

                        <h3 class="title-border">Assistent Manager (P&amp;L)</h3>
                        <p>A great workplace thrives on ideas and opportunity. You’ll find both at Awizom. Follow your ideas, and choose innovative career tracks. Challenge convention.</p>

                        <div class="panel-group" id="accordionB">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionA, #accordionB" href="#collapseA">Job Requirements</a>
                                    </h4>
                                </div>
                                <div id="collapseA" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul class="unstyled arrow">
                                            <li>B.Sc. from any reputed university</li>
                                            <li>MBA in Marketing from any reputed university is very much desired</li>
                                            <li>Two (02) years of experience in Software Company is an advantage.</li>
                                            <li>Experience as Business Analyst will be an added advantage</li>
                                            <li>Manage and execute lead generation activities.</li>
                                            <li>Help building marketing strategy, tool and approach by thorough research</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/ Panel 1 end-->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseB"> Job Responsibilities</a>
                                    </h4>
                                </div>
                                <div id="collapseB" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="unstyled arrow">
                                            <li>Global Business Development &amp; Strategic Account Management</li>
                                            <li>Marketing Research</li>
                                            <li>Marketing Collaterals development</li>
                                            <li>Business Analysis</li>
                                            <li>Manage and execute lead generation activities.</li>
                                            <li>Help building marketing strategy, tool and approach by thorough research</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/ Panel 2 end-->


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseC"> What’s in it for you?</a>
                                    </h4>
                                </div>
                                <div id="collapseC" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="unstyled arrow">
                                            <li>Very Competitive Salary and Long Term Benefits with Excellent Career Opportunity in a Focused &amp; Stable organization.</li>
                                            <li>Training on new technology.</li>
                                            <li>Overseas Tour with Opportunity to work with Global Companies.</li>
                                            <li>Most importantly a friendly work environment with opportunity to learn from a number of highly skilled mentors.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/ Panel 3 end-->

                            <div class="gap-20"></div>

                            <p><a href="#" class="btn btn-primary solid">Apply Now <i class="fa fa-long-arrow-right"></i></a></p>

                        </div><!--/ Accordion end -->

                    </div><!--/ Content col end -->

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="sidebar sidebar-right">
                            <!-- category start -->
                            <div class="widget widget-categories">
                                <h3>How to Apply</h3>
                                <p>Send your cv, relevant work experience and anything else that will make you stand out to <b style="color:blue">hr@awizometech.com</b></p>
                            </div><!-- category end -->
                            <!-- tags start -->
                            <div class="widget widget-tags">
                                <h3>Why Us</h3>
                                <p style="text-align:justify">
                                    We have expertise and experience of large projects involving solution architecture, design, development,
                                    Implementation, testing and commissioning. Our organization is professionally managed by highly technical
                                    with experience in a cross section of industries with deep understanding of technology and domain knowledge.

                                </p>
                            </div><!-- tags end -->


                        </div><!--/ Sidebar end -->
                    </div><!--/ Sidebar col end -->
                </div><!--/ row end -->
            </div><!--/ container end -->
        </section><!--/ Main container end -->
        <!-- <section class="call-to-action"> -->
        <!-- <div class="container"> -->
        <!-- <div class="row"> -->
        <!-- <div class="col-sm-12"> -->
        <!-- <h3>Join with BizCraft and Give Your Website a Brand New Look</h3> -->
        <!-- <a href="#" class="pull-right btn btn-primary white">Purchase Now</a> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </section> -->

        <!-- Footer start -->
        <section id="footer" class="footer footer-map">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-logo">
                            <img src="/FrontDesign/images/awizomlogo.png" alt="logo">
                        </div>
                        <div class="gap-20"></div>
                        <ul class="dark unstyled">
                            <li>
                                <a title="Twitter" href="https://twitter.com/AwizomB">
                                    <span class="icon-pentagon wow bounceIn"><i class="fa fa-twitter"></i></span>
                                </a>
                                <a title="Facebook" href="https://www.facebook.com/576897842812519/photos/a.580499922452311/586396508529319/?type=3&theater">
                                    <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
                                </a>
                                <a title="Google+" href="#">
                                    <span class="icon-pentagon wow bounceIn"><i class="fa fa-google-plus"></i></span>
                                </a>
                                <a title="linkedin" href="https://www.linkedin.com/company/awizomtechbytes">
                                    <span class="icon-pentagon wow bounceIn"><i class="fa fa-linkedin"></i></span>
                                </a>
                                <!-- <!-- <a title="Pinterest" href="#"> -->
                                <!-- <!-- <span class="icon-pentagon wow bounceIn"><i class="fa fa-pinterest"></i></span> -->
                                <!-- <!-- </a> -->
                                <!-- <!-- <a title="Skype" href="#"> -->
                                <!-- <!-- <span class="icon-pentagon wow bounceIn"><i class="fa fa-skype"></i></span> -->
                                <!-- <!-- </a> -->
                                <!-- <!-- <a title="Dribble" href="#"> -->
                                <!-- <!-- <span class="icon-pentagon wow bounceIn"><i class="fa fa-dribbble"></i></span> -->
                                <!-- <!-- </a> -->
                            </li>
                        </ul>
                    </div>
                </div><!--/ Row end -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="copyright-info">
                            &copy; Copyright 2019. <span>Designed by <a href="#">Awizom Tech Bytes Pvt. Ltd. Raipur</a></span>
                        </div>
                    </div>
                </div><!--/ Row end -->
                <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
                    <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
                </div>
            </div><!--/ Container end -->
        </section>


        <!-- Footer end -->
       
        <!-- Javascript Files
        ================================================== -->
        <script src="~/FrontDesign/js/bootstrap.min.js"></script>
        <script src="~/FrontDesign/js/cd-hero.js"></script>
        <script src="~/FrontDesign/js/custom.js"></script>
        <script src="~/FrontDesign/js/ini.isotope.js"></script>
        <script src="~/FrontDesign/js/isotope.js"></script>
        <script src="~/FrontDesign/js/jquery.flexslider.js"></script>
        <script src="~/FrontDesign/js/jquery.js"></script>
        <script src="~/FrontDesign/js/jquery.min.js"></script>
        <script src="~/FrontDesign/js/jquery.prettyPhoto.js"></script>
        <script src="~/FrontDesign/js/owl.carousel.js"></script>
        <script src="~/FrontDesign/js/smoothscroll.js"></script>
        <script src="~/FrontDesign/js/style-switcher.js"></script>
        <script src="~/FrontDesign/js/waypoints.min.js"></script>
        <script src="~/FrontDesign/js/wow.min.js"></script>
        <script src="~/FrontDesign/js/jquery.easing.1.3.js"></script>
        <script src="~/FrontDesign/js/jquery.counterup.min.js"></script>
    </div><!-- Body inner end -->
</body>
</html>